<div class="logo">
<img src="{{@blog.logo}}"/>
</div>
<h5>{{@blog.title}}</h5>
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/wayne-scott" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="https://twitter.com/scottwa" target="_blank">
            <i class="el el-twitter"></i> @scottwa
        </a>
    </li>
</ul>
